Flask==2.3.2            # The Flask framework for your app
pytest==8.3.5           # The pytest framework for running unit tests
pytest-flask==1.2.0     # pytest plugin for Flask integration
Werkzeug==2.3.7